.venv/
__pycache__/
*.pyc
*.db
.env
.pytest_cache/
app/uploads/photos/*
app/uploads/logos/*
app/generated_qr/*
!app/uploads/photos/.gitkeep
!app/uploads/logos/.gitkeep
!app/generated_qr/.gitkeep
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*

# Terraform local files
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
